<head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/ico" href="images/favicon.ico" />

    <link rel="stylesheet" href="css/jquery-ui.min.css">
    <link rel="stylesheet" href="css/jquery-ui.structure.min.css">
    <link rel="stylesheet" href="css/jquery-ui.theme.min.css">
    <link rel="stylesheet" href="css/dropit.css">
    <link rel="stylesheet" href="css/prism.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet"
        href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;amp;subset=latin,latin-ext">
    <link rel="stylesheet" href="css/{{ page.lang }}.css">
    <link rel="stylesheet" href="css/nodeinteractive.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docs-searchbar.js/dist/cdn/docs-searchbar.min.css" />

    <link rel="stylesheet" href="css/style.css">
</head>